body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-firebrick: #b31312;
  --color-darkslateblue-100: #2b2a4c;
}
